{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Дименитивы на каждый день!</title>
</head>
<body>

	<section>
		<div class="container">
			<div class="row justify-content-center full-height align-items-center">
				<div class="col-12 col-lg-4 text-center">

					<img src="{% static 'logo.png'%}" class="img-fluid mb-3"   alt="">
					
					<form action="{% url 'main_page_view' %}" method='get'>
						<input type="text" class="form-control" name='word' autocomplete="off" {% if  dimenitiv %} value="{{word}}" {% endif %}>
						<button type="submit" class="btn btn btn-primary mt-3">Отрыгнуть</button>
					</form>
					
					{% if  dimenitiv %}
						<div class="dimenitiv mt-4">{{dimenitiv}}</div>
					{% endif %}
				</div>
			</div>
		</div>


	</section>


<style>

	body {
 		background: #79B5D2;
	}

	.full-height {
		height: 100vh;
	}

	.dimenitiv {
		font-size: 40px;
		color: #dc3545;;

	}

</style>
	
	
</body>
</html>
